* {
  min-height: 0;
  min-width: 0;
  font-family: Lexend, "FiraCode Nerd Font";
  font-size: 14px;
  font-weight: 600;
}

window#waybar {
  transition-property: background-color;
  transition-duration: 0.5s;
  /* background-color: #1e1e2e; */
  /* background-color: #181825; */
  /* background-color: #11111b; */
  background-color: rgba(37, 24, 24, 0.6);
}

#workspaces button {
  padding: 0.3rem 0.6rem;
  margin: 0.4rem 0.25rem;
  border-radius: 6px;
  /* background-color: #181825; */
  background-color: #2e1e1e;
  color: #cdd6f4;
}

#workspaces button:hover {
  color: #2e1e1e;
  background-color: #f4d6cd;
}

#workspaces button.active {
  background-color: #2e1e1e;
  color: #fab489;
}

#workspaces button.urgent {
  background-color: #2e1e1e;
  color: #f38ba8;
}

#clock,
#pulseaudio,
#custom-logo,
#battery,
#custom-power,
#custom-spotify,
#custom-notification,
#cpu,
#tray,
#memory,
#window,
#mpris {
  padding: 0.3rem 0.6rem;
  margin: 0.4rem 0.25rem;
  border-radius: 6px;
  /* background-color: #181825; */
  background-color: #1e1e2e;
}

#mpris.playing {
  color: #a6e3a1;
}

#mpris.paused {
  color: #9399b2;
}

#custom-sep {
  padding: 0px;
  color: #585b70;
}

#battery {
  color: #ffffff;
}

#battery.charging {
  color: #aaffaa;
}

#battery.warning {
  color: #dddd77;
}

#battery.critical {
  color: #dd7777;
}

window#waybar.empty #window {
  background-color: transparent;
}

#cpu {
  color: #d5e294;
}

#memory {
  color: #f7a6cb;
}

#clock {
  color: #ecc774;
}

#clock.simpleclock {
  color: #fab489;
}

#window {
  color: #f4d6cd;
}

#pulseaudio {
  color: #febeb4;
}

#pulseaudio.muted {
  color: #c8ada6;
}

#custom-logo {
  color: #fab489;
}

#custom-power {
  color: #f38ba8;
}

tooltip {
  background-color: #181825;
  border: 2px solid #89b4fa;
}
